<!DOCTYPE html>
<html>
  <head>
    <title>Unit 2 Assessment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>To Do List</h1>
    <p>
      <!-- < % if (todosArray.length = 0) { %>
        <p>There are no TO-DOs on the list</p>
      < % } % >   -->
    </p>
  <ul>
    
  </ul>
  <hr>
  <form action="/todos" method="POST"></form>
  <label>
    <input type="text" name="todo">
  </label>
  <a href="/"><button>ADD TO DO</button></a>
</body>
</html>


